{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>GoGo Мэдээ</title>
</head>

<body>
	<div id="container">
		<div id="header"> 
			<div style="float:left; padding-top: 5px; " >
				<a style="float: left; font-size: 30px; margin-left: 0px">NUM Online Judge</a>
			</div>
			<div style="float:right; padding-top: 14px;">
				<a href="{% url 'polls:user' member_id %}">{{member_id}}</a>
				|
				<a href="{% url 'polls:login' %}">logout</a>
			</div>
		</div>
		<div id="menu">
			<a class = "menu-a" href="{% url 'polls:index' %}" style="margin-left: 0px">Мэдээ</a>
			<a class = "menu-a" href="{% url 'polls:problems' %}">Бодлогууд</a>
			<a class = "menu-a" href="{% url 'polls:rank'%}">Чансаа</a>
			<a class = "menu-a" href="">Илгээх</a>
			<a class = "menu-a" href="">Үр дүн</a>
		</div>
		<hr width="100%">
		<div>
			<div id="content">
				{% block News %}{% endblock %}
				{% block Tag %}{% endblock %}
				{% block login %}{% endblock %}
				{% block problem %}{% endblock %}
				{% block problems %}{% endblock %}
				{% block rank %}{% endblock %}
				{% block submit %}{% endblock %}
			</div>
			<div id="sidebar">
				sidebar
			</div>
		</div>
	</div>
</body>
</html>