<h1>create problem</h1>
<form action="{% url 'polls:createProblemAction' %}" method="post">
  {% csrf_token %}
  
  <label for="Name">Name</label>
  <input type="text" name="name">
  <label for="Statement">statement</label>
  <input type="text" name="statement">
  <label for="input">input</label>
  <input type="text" name="input">
  <label for="ouput">output</label>
  <input type="text" name="output">
  <label for="timelimit">timelimit</label>
  <input type="text" name="timelimit">
  <label for="extra">extraInformation</label>
  <input type="text" name="extra">
<input type="submit" value="create" />
</form>
