{% load staticfiles %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

member id is {{ member_id }}

<hr>

<a href = "{% url 'polls:createProblem' %}"> create Problem </a>

{% if latest_problem_list %}
<ul>
  {% for problem in latest_problem_list %}
  <li>
    <a href="{% url 'polls:problem' problem.id %}">{{ problem.problemStatement }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

<hr>

<a href = "{% url 'polls:createTag'%}"> create tag </a>
<ul>
  
  {% for tag in Tag_list %}
  <li>
    {{tag.tagName}}
  </li>
  {% endfor %}
  
</ul>

<hr>


<a href = "{% url 'polls:createUser' %}"> create User </a>

<ul>

  {% for user in User_list %}
  <li>
  <a href="{% url 'polls:user' user.id %}"> {{user.username}} </a>
  </li>
  {% endfor %}

</ul>

<hr>

