{% extends "polls/base.html" %}

{% block problems %}
    
    {% if latest_problem_list %}
	<table width="90%" border="1">
	  <tr> 
	  	<th width="50px">#</th>
	  	<th>Нэр</th>
	  	<th width="50px">Бодсон</th>
	  </tr>
	  {% for problem in latest_problem_list %}
	  <tr>
	  	<td style="text-align: center;"> {{problem.id}} </td>
	    <td> 
	    	<a href="{% url 'polls:problem' problem.id %}" style="float: left; padding-left: 10px; ">{{ problem.problemStatement }}</a>
	    	{% comment for tag in problem.tag %}
	    		{{tag.tagName}}
	    	{%endfor %}
	    	{% endcomment  %}
	   	</td>
	   	<td style="text-align: center;">123</td>
	  </tr>
	  {% endfor %}
	</table>
	{% else %}
	<p>No polls are available.</p>
	{% endif %}

	{% if add_problem %}
		<a href = "{% url 'polls:createProblem' %}"> create Problem </a>
	{% endif%}
{% endblock %}